body {
    margin: 0;
    background: #000;
    color: #fff;
}
#container {
    position: relative;
    line-height: 0;
}
#container>canvas[data-pp3d-size="maxim"] {
    display: block;
    max-width: 100%;
}
#container>canvas[data-pp3d-size="medium"] {
    display: inline-block;
    max-width: 50%;
}
#container>canvas[data-pp3d-size="medium"]:nth-child(1),
#container>canvas[data-pp3d-size="medium"]:nth-child(4) {
    transform: scaleX(-1) rotate(90deg);
}
#container>canvas[data-pp3d-size="medium"]:nth-child(2),
#container>canvas[data-pp3d-size="medium"]:nth-child(3) {
    transform: scaleX(-1) rotate(-90deg);
}
#container>canvas[data-pp3d-size="hidden"] {
    display: none;
}
#container::after {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 1;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    content: "＋";
}

#controlPanel>table {
    margin: auto;
    font-size: 30px;
}
#controlPanel>table td[id] {
    cursor: pointer;
}